@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: #222;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.20vw;
}

.main{
    width: 100%;
}

.wrapper {
    width: auto;
    margin: 0 auto;
}